.panda-info-bg{
    background-color: #FCEAE8;
}
.categories img{
    width: 100px;
}
.panda-buy-now-btn{
    border: none;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    padding: 8px 25px;
    border-radius: 7px;
}
.watch-categorie{
    background-color: #FFA500;
    border-radius: 10px;
}
.shoe-categorie{
    background-color: #0000FF;
    border-radius: 10px;
}
.bag-categorie{
    background-color: #DA70D6;
    border-radius: 10px;
}